.hdfc-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  justify-content: space-around;
  text-align: left;
}
/* Desktop View */
@media (min-width: 768px) {
  
  .hdfc-container{
    align-items: center;
    
  }
  .image-section-hdfc img{
    height: 380px;
  }
  .content-of-hdfc{
    padding: 20px;
  }
  .content-of-hdfc1{
    padding: 20px;
  }
  
    .content-of-hdfc p{
        font-size: 1rem;
        color:#000000a6;
      }
      .content-of-hdfc h2{
        font-size: 1.2rem;
        color:#3e2780;
      }
      .content-of-hdfc1 h2{
        font-size: 1.2rem;
        color:#3e2780;
    
      }
    
  .text-part-hdfc{
    padding: 20px;
  }
  
    .text-content-hdfc h1 {
      font-size: 3rem;
      text-align: left;
      margin-top: -15%;
      margin-left: 5%;
    }
    .content-of-hdfc1 {
        display: flex;
        flex-direction: row;
        align-items: left;
    }
    
    .additional-hdfc-info {
        font-size: 1rem;
        color: #000000a6;
    }

        .additional-hdfc-info1 {
        font-size: 1rem;
        color: #000000a6;
    }
 
  }
  
  /* Mobile View */
  @media (max-width: 767px) {
    .hdfc-container {
      display: block; /* Stack elements vertically */
      padding: 20px; /* Add padding around the container */
      font-weight: normal;
    }
  
    .text-content-hdfc h1 {
      font-size: 1.2rem; /* Adjust font size */
      margin-left: 0; /* Center align */
      text-align: left; /* Center align text */
      margin-bottom: 10px; /* Add space below */
    }

  .content-of-hdfc h2{
    font-size: 1.2rem;
    color:#3e2780;
  }
  .content-of-hdfc1 h2{
    font-size: 1.2rem;
    color:#3e2780;

  }
  
  .image-section-hdfc img{
      width: 100%; /* Make the image responsive */
      height: auto;
     
      display: block; /* Ensure image is centered */
    }
    .content-of-hdfc1 {
        display: flex;
        flex-direction: row;
        align-items: left;
    }
    
    .additional-hdfc-info {
        font-size: 1rem;
        color: #000000a6;
    }

       .additional-hdfc-info1 {
        font-size: 1rem;
        color: #000000a6;
    }

  }


.content-of-hdfc a {
  text-decoration: none;
  font-weight: 500;
  word-break: break-word;
  display: inline-block;
  margin-top: 4px;
  transition: all 0.3s ease;
}

.content-of-hdfc a:hover {
  color: #5a3db5;
  text-decoration: underline;
}

.content-of-hdfc h2 {
  font-size: 1.2rem;     
  margin-bottom: 10px;
  font-weight: 500;
}

.additional-hdfc-info {
  display: block;        
  margin-top: 5px;
  font-size: 1rem;
  color: #000000a6;
}

